@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background-color: #fffbe7;
    --base-color: #e7d5a0;
    --light-green: #76860a;
    --olive: #3b400d;
    --dark-green: #1a1e03; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: 'Nunito',sans-serif;
    font-size: 20px;
}

header {
    background-color: var(--base-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
}

header .logo img {
    cursor: pointer;
}

header .nav-links {
    list-style: none;
    display: flex;
}

header .nav-links li {
    margin: 0 20px;
}

header .nav-links li a {
    text-decoration: none;
    color: var(--olive);
/*HEAD*/
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.img-container {
    position: relative;
    display: flex;
    max-width: 40%;
    
}

.img-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.img-container h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: var(--base-color);
    color: var(--dark-green);
    text-align: center;
    padding: 10px 0;
    border-radius: 0 0 8px 8px;
}

article.right .img-container {
    order: 2;
    margin-right: 0;
    margin-left: 20px;
}

article.right p {
    order: 1;
    text-align: left;
}
